/* -- elements selectors __*/

html {
 font-family:  Calibri, 'Trebuchet MS', sans-serif ;
 background-color: lightblue;
 font-size:20px;
}

h1 {
text-align: center;
background-color:aquamarine;
margin: 1rem;
font-family:  Calibri, sans-serif;
border: 2px solid burlywood;
font-size: 40px;
}
  

h3,
h2{
text-align: center;
margin: 1rem;
font-family:  Calibri, sans-serif;
border: 2px solid burlywood;
background-color:khaki;
font-size: 30px;
}

p,
li,
ol,
ul
th,
tr{
    padding: 10px;
}

th,
td {
    border: 1px solid;
    text-align: center;
    width: 85%;
    padding: 10px;
    font-style: italic;

}

footer{
    text-align: center;
    margin: 1rem;
}

/* -- class name selectors -- */


.page-visited:visited{
color: red;
}

.linkedpage{
    font-style: normal;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold 100px;
    
}

.pictures{
    border: 1px solid tomato;
    border-radius: 50%;
    padding: 5px;
    width: 300px;
}
.images{
    border: 1px solid tomato;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
}

/* -- pseudo element selector --*/

::placeholder{
    font-style: italic;
    width: 100%;
    color:yellowgreen;
}

/* -- id selector --*/
#submit:hover{
    color:red;
    background-color: white;
}

#dateforvisit:hover{
    color:tomato;
}



